@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap");
/*reset css*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.section {
  background: #000;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section #myVideo {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.section .box-countdown {
  z-index: 3;
  color: #fff;
  position: absolute;
  left: 0;
  top: 72%;
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-weight: 500;
}

.section .box-countdown span {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
}

@media screen and (max-width: 1025px) {
  .section {
    overflow: hidden;
  }
  .section #myVideo {
    width: auto;
    height: 100%;
    z-index: 2;
  }
}

@media screen and (max-width: 766px) {
  .section .box-countdown {
    font-size: 48px;
  }
  .section .box-countdown span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */