@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

/*reset css*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.section {
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    #myVideo {
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .box-countdown {
        z-index: 3;
        color: #fff;
        position: absolute;
        left: 0;
        top: 72%;
        width: 100%;
        text-align: center;
        font-size: 90px;
        font-weight: 500;
        span {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 16px;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 1025px) {
    .section {
        overflow: hidden;
        #myVideo {
            width: auto;
            height: 100%;
            z-index: 2;
        }
    }
}

@media screen and (max-width: 766px) {
    .section {
        .box-countdown {
            font-size: 48px;
            span {
                font-size: 12px;
            }
        }
    }
}